# 1. 屏蔽 Keil 的特定编译输出文件夹 (这是关键！)
MDK-ARM/STM32_Sweeping_Robot/
MDK-ARM/Objects/
MDK-ARM/Listings/

# 2. 屏蔽 Keil 生成的工程临时/配置垃圾
MDK-ARM/*.bak
MDK-ARM/*.dep
MDK-ARM/*.uvgui.*
MDK-ARM/*.uvguix.*
MDK-ARM/*.uvuo
*.scvd

# 3. 屏蔽各类编译中间文件扩展名 (双保险)
*.obj
*.crf
*.o
*.d
*.axf
*.htm
*.build_log.htm
*.map
*.iex
*.sct
*.hex
*.lnp
*.lst

# 4. 屏蔽编辑器/系统的缓存文件夹
.vscode/
MDK-ARM/.vscode/
.history/
.vscode/